#ifndef INFINIT_ORACLES_TRANSACTION_HH
# define INFINIT_ORACLES_TRANSACTION_HH

# include <elle/Printable.hh>

# include <iosfwd>
# include <list>
# include <string>

<%!
from infinit.oracles.transaction import statuses
%>

namespace infinit
{
  namespace oracles
  {
    class Transaction:
      public elle::Printable
    {
    public:
      enum class Status: int
      {
        %for name, value in statuses.items():
          ${name} = ${value},
        %endfor
      };

    public:
      Transaction() = default;
      Transaction(std::string const& sender_id,
                  std::string const& sender_device_id);

      virtual
      ~Transaction() = default;

    public:
      std::string id;
      std::string sender_id;
      std::string sender_device_id;
      Status status;
      double ctime;
      double mtime;

      virtual
      void
      print(std::ostream& stream) const override;

      bool
      empty() const;
    };

    std::ostream&
    operator <<(std::ostream& out,
                Transaction::Status t);

    std::ostream&
    operator <<(std::ostream& out,
                Transaction const& t);
  }
}

#endif
