[submodule "oracle/disciples/troll"]
	path = oracle/disciples/troll
	url = git://github.com/hotgloupi/troll.git
[submodule "surface/macosx"]
	path = surface/macosx
	url = git@git.infinit.io:infinit-macosx
[submodule "elle"]
	path = elle
	url = git@git.infinit.io:elle
[submodule "documentation/finder-injection/FinderMenu"]
	path = documentation/finder-injection/FinderMenu
	url = https://github.com/infinitelabs/FinderMenu.git
[submodule "surface/osx"]
	path = surface/osx
	url = git@git.infinit.io:osx-app
[submodule "oracles/bottle"]
	path = oracles/bottle
	url = https://github.com/mefyl/bottle.git
[submodule "oracles/mongobox"]
	path = oracles/mongobox
	url = https://github.com/infinitdotio/mongobox.git
