<%inherit file="/base.html"/>

<div class="wrapper">
  
  <div class="transactions by_transaction">
  
  </div>
  
  <div class="sidebar"> 
    <div class="date">
      <label for="datepicker">Pick a date:</label>
      <input id="datepicker" value="Today" />
    </div>
    
    <div class="status">
      <label>Show only:</label>
      <ul>
        <li><a href="#" title="initialized" class="finished">Initialized transfers</a></li>
        <li><a href="#" title="failed" class="failed">Failed transfers</a></li>
        <li><a href="#" title="accepted" class="accepted">Accepted transfers</a></li>
        <li><a href="#" title="rejected" class="rejected">Rejected transfers</a></li>
        <li><a href="#" title="canceled" class="canceled">Canceled transfers</a></li>
        <li><a href="#" title="finished" class="finished">Finished transfers</a></li>
        <li><a href="#" class="active">All transfers</a></li>
      </ul>
    </div>
    
    <div class="views">
      <label>Choose view:</label>
      <ul>
        <li><a href="#" title="by_transaction" class="active">By transaction</a></li>
        <li><a href="#" title="by_day">By day</a></li>
      </ul>
    </div>
    
    <div class="status">
      <label>Show groups:</label>
    </div>
  </div>

  
</div>