#include <sstream>

#include <boost/uuid/uuid_io.hpp>
#include <boost/uuid/string_generator.hpp>
#include <boost/lexical_cast.hpp>
#include <boost/date_time/posix_time/posix_time.hpp>

#include <elle/json/json.hh>
#include <elle/log.hh>
#include <elle/print.hh>
#include <elle/serialize/JSONArchive.hh>
#include <elle/format/json/Dictionary.hh>
#include <elle/serialize/ListSerializer.hxx>
#include <elle/serialize/MapSerializer.hxx>
#include <elle/serialize/SetSerializer.hxx>

#include <reactor/scheduler.hh>

#include <infinit/oracles/meta/Client.hh>
#include <infinit/oracles/meta/macro.hh>
#include <version.hh>

ELLE_LOG_COMPONENT("infinit.plasma.meta.Client");

SERIALIZE_RESPONSE(infinit::oracles::meta::DebugResponse, ar, res)
{
  (void) ar;
  (void) res;
}

/*------.
| Users |
`------*/

SERIALIZE_RESPONSE(infinit::oracles::meta::LoginResponse, ar, res)
{
  ar & named("_id", res.id);
  ar & named("fullname", res.fullname);
  ar & named("handle", res.handle);
  ar & named("email", res.email);
  ar & named("identity", res.identity);
  ar & named("device_id", res.device_id);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::LogoutResponse, ar, res)
{
  (void) ar;
  (void) res;
}

SERIALIZE_RESPONSE(infinit::oracles::meta::RegisterResponse, ar, res)
{
  ar & named("registered_user_id", res.registered_user_id);
  ar & named("invitation_source", res.invitation_source);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::UsersResponse, ar, res)
{
  ar & named("users", res.users);
}

ELLE_SERIALIZE_SIMPLE(infinit::oracles::meta::User, ar, res, version)
{
  enforce(version == 0);
  ar & named("_id", res.id);
  ar & named("public_key", res.public_key);
  ar & named("fullname", res.fullname);
  ar & named("handle", res.handle);
  ar & named("connected_devices", res.connected_devices);

}

SERIALIZE_RESPONSE(infinit::oracles::meta::UserResponse, ar, res)
{
  ar & static_cast<infinit::oracles::meta::User&>(res);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::SelfResponse, ar, res)
{
  ar & static_cast<infinit::oracles::meta::User&>(res);

  ar & named("email", res.email);
  ar & named("identity", res.identity);
  ar & named("devices", res.devices);
  ar & named("favorites", res.favorites);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::SwaggersResponse, ar, res)
{
  ar & named("swaggers", res.swaggers);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::RemoveSwaggerResponse, ar, res)
{
  (void) ar;
  (void) res;
}

SERIALIZE_RESPONSE(infinit::oracles::meta::InviteUserResponse, ar, res)
{
  ar & named("_id", res._id);
}

// SERIALIZE_RESPONSE(infinit::oracles::meta::InvitedResponse, ar, res)
// {
//   ar & named("emails", res.emails);
// }

/*--------.
| Devices |
`--------*/

SERIALIZE_RESPONSE(infinit::oracles::meta::CreateDeviceResponse, ar, res)
{
  ar & named("id", res.id);
  ar & named("passport", res.passport);
  ar & named("name", res.name);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::DeviceResponse, ar, res)
{
  ar & named("id", res.id);
  ar & named("passport", res.passport);
  ar & named("name", res.name);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::UpdateDeviceResponse, ar, res)
{
  ar & named("id", res.id);
  ar & named("passport", res.passport);
  ar & named("name", res.name);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::DeleteDeviceResponse, ar, res)
{
  ar & named("id", res.id);
}

/*-------------.
| Transactions |
`-------------*/

SERIALIZE_RESPONSE(infinit::oracles::meta::CreateTransactionResponse, ar, res)
{
  ar & named("created_transaction_id", res.created_transaction_id);
  ar & named("remaining_invitations",  res.remaining_invitations);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::UpdateTransactionResponse, ar, res)
{
  ar & named("updated_transaction_id", res.updated_transaction_id);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::MessageResponse, ar, res)
{
  (void) ar;
  (void) res;
}

SERIALIZE_RESPONSE(infinit::oracles::meta::EndpointNodeResponse, ar, res)
{
  ar & named("externals", res.externals);
  ar & named("locals", res.locals);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::ConnectDeviceResponse, ar, res)
{
  (void) ar;
  (void) res;
}

SERIALIZE_RESPONSE(infinit::oracles::meta::FallbackResponse, ar, res)
{
  ar & named("fallback_host", res.fallback_host);
  ar & named("fallback_port_ssl", res.fallback_port_ssl);
  ar & named("fallback_port_tcp", res.fallback_port_tcp);
}

SERIALIZE_RESPONSE(infinit::oracles::meta::CloudBufferTokenResponse, ar, res)
{
  ar & named("access_key_id", res.access_key_id);
  ar & named("secret_access_key", res.secret_access_key);
  ar & named("session_token", res.session_token);
  ar & named("expiration", res.expiration);
}

/*--------------.
| Server Status |
`--------------*/

SERIALIZE_RESPONSE(infinit::oracles::meta::ServerStatusResponse, ar, res)
{
  ar & named("status", res.status);
  if (res.status)
    res.message = "";
  else
    ar & named("message", res.message);
}

namespace infinit
{
  namespace oracles
  {
    namespace meta
    {
      using elle::sprintf;
      using reactor::http::Method;

      Exception::Exception(Error const& error, std::string const& message)
        : elle::Exception(message)
        , err{error}
      {}

      bool
      Exception::operator ==(Exception const& e) const
      {
        return (this->err == e.err);
      }

      bool
      Exception::operator ==(Error const& error) const
      {
        return (this->err == error);
      }

      bool
      Exception::operator !=(Error const& error) const
      {
        return !(*this == error);
      }

      User::User(std::string const& id,
                 std::string const& fullname,
                 std::string const& handle,
                 User::Devices const& devices,
                 std::string const& public_key):
        id(id),
        fullname(fullname),
        handle(handle),
        public_key(public_key),
        connected_devices(devices)
      {}

      namespace json = elle::format::json;

      // - Ctor & dtor ----------------------------------------------------------
      Client::Client(std::string const& protocol,
                     std::string const& server,
                     uint16_t port):
        _protocol(protocol),
        _host(server),
        _port(port),
        _root_url{elle::sprintf("%s://%s:%d", protocol, server, port)},
        _client{"MetaClient/" INFINIT_VERSION},
        _default_configuration{boost::posix_time::seconds{30},
                               reactor::http::Version::v10},
        _email{},
        _logged_in{false}
      {
        // Don't check the host name since we have only one certificate but we
        // change hostname between minor versions.
        this->_default_configuration.ssl_verify_host(false);
      }

      Client::~Client()
      {}

      std::string
      Client::session_id() const
      {
        if (this->_client.cookies().find("session-id") !=
          this->_client.cookies().end())
          return this->_client.cookies()["session-id"];
        return "";
      }

      void
      Client::session_id(std::string const& session_id)
      {
        ELLE_TRACE_SCOPE("%s: set the session id to %s", *this, session_id);
        this->_default_configuration.cookies()["session-id"] = session_id;
      }

      // - API calls ------------------------------------------------------------

      DebugResponse
      Client::status() const
      {
        return this->_request<DebugResponse>("/status", Method::GET);
      }

      /*------.
      | Users |
      `------*/
      static
      User
      user_from_json(boost::any const& json_)
      {
        auto const& json = boost::any_cast<elle::json::Object>(json_);
        User u;
        u.id = boost::any_cast<std::string>(json.at("id"));
        u.fullname = boost::any_cast<std::string>(json.at("fullname"));
        u.handle = boost::any_cast<std::string>(json.at("handle"));
        u.public_key = boost::any_cast<std::string>(json.at("public_key"));
        for (auto const& device:
             boost::any_cast<elle::json::Array>(json.at("connected_devices")))
        {
          u.connected_devices.push_back(boost::any_cast<std::string>(device));
        }
        return u;
      }

      LoginResponse
      Client::login(std::string const& email,
                    std::string const& password,
                    boost::uuids::uuid const& device_uuid)
      {
        std::string struuid = boost::lexical_cast<std::string>(device_uuid);

        json::Dictionary request{
          std::map<std::string, std::string>{
            {"email", email},
            {"password", password},
            {"device_id", struuid},
         }};

        auto res = this->_request<LoginResponse>(
          "/login", Method::POST, request);
        if (res.success())
        {
          // Debugging purpose.
          this->_email = email;
          this->_logged_in = true;
        }
        return res;
      }

      LogoutResponse
      Client::logout()
      {
        auto res = this->_request<LogoutResponse>("/logout", Method::POST);
        if (res.success())
        {
          // Debugging purpose.
          this->_email = "";
          this->_logged_in = false;
        }
        return res;
      }

      RegisterResponse
      Client::register_(std::string const& email,
                        std::string const& fullname,
                        std::string const& password,
                        std::string const& activation_code) const
      {
        json::Dictionary request{std::map<std::string, std::string>{
            {"email", email},
            {"fullname", fullname},
            {"password", password},
            {"activation_code", activation_code},
              }};
        return this->_request<RegisterResponse>(
          "/user/register", Method::POST, request);
      }

      Response
      Client::resend_confirmation_email(std::string const& email) const
      {
        return this->_request<DebugResponse>(
          elle::sprintf("/user/resend_confirmation_email/%s", email),
          Method::POST);
      }

      UsersResponse
      Client::search_users(std::string const& text, int count, int offset) const
      {
        json::Dictionary request;
        request["text"] = text;
        request["limit"] = count;
        request["offset"] = offset;
        return this->_request<UsersResponse>("/user/search", Method::POST, request);
      }

      static
      std::pair<std::string, User>
      email_and_user(boost::any const& json_)
      {
        auto const& json = boost::any_cast<elle::json::Object>(json_);
        std::pair<std::string, User> res;
        res.first = boost::any_cast<std::string>(json.at("email"));
        res.second = user_from_json(json_);
        return res;
      }

      std::unordered_map<std::string, User>
      Client::search_users_by_emails(
        std::vector<std::string> const& emails, int limit, int offset) const
      {
        std::stringstream email_list;
        std::vector<boost::any> emails_json;
        for (auto email: emails)
        {
          emails_json.push_back(boost::any(std::string(email)));
        }
        elle::json::write(email_list, emails_json);
        std::string url = elle::sprintf(
          "/user/search_emails?emails=%s", email_list.str());
        if (limit > 0)
        {
          url += elle::sprintf("&limit=%s", limit);
        }
        if (offset > 0)
        {
          url += elle::sprintf("&offset=%s", offset);
        }
        reactor::http::Request request = this->_client.request(
          this->_url(url),
          Method::GET,
          this->_default_configuration);
        this->_handle_errors(request);
        auto json = elle::json::read(request);
        auto const& users =
          boost::any_cast<elle::json::Array>(
            boost::any_cast<elle::json::Object>(json).at("users"));
        std::unordered_map<std::string, User> res;
        for (auto const& user: users)
        {
          res.insert(email_and_user(user));
        }
        return res;
      }

      std::vector<User>
      Client::users_search(std::string const& text, int limit, int offset) const
      {
        std::string url = elle::sprintf("/users?search=%s", text);
        if (limit > 0)
        {
          url += elle::sprintf("&limit=%s", limit);
        }
        if (offset > 0)
        {
          url += elle::sprintf("&skip=%s", offset);
        }
        reactor::http::Request request = this->_client.request(
          this->_url(url),
          Method::GET,
          this->_default_configuration);
        this->_handle_errors(request);
        auto json = elle::json::read(request);
        auto const& users =
          boost::any_cast<elle::json::Array>(
            boost::any_cast<elle::json::Object>(json).at("users"));
        std::vector<User> res;
        for (auto const& user: users)
          res.push_back(user_from_json(user));
        return res;
      }

      UserResponse
      Client::user_from_handle(std::string const& handle) const
      {
        if (handle.size() == 0)
          throw elle::Exception("No handle");
        return this->_request<UserResponse>(
          sprintf("/user/from_handle/%s/view", handle), Method::GET);
      }

      UserResponse
      Client::user(std::string const& id) const
      {
        if (id.size() == 0)
          throw elle::Exception("Wrong id");
        return this->_request<UserResponse>(
          sprintf("/user/%s/view", id), Method::GET);
      }

      SelfResponse
      Client::self() const
      {
        return this->_request<SelfResponse>("/user/self", Method::GET);
      }

      UserResponse
      Client::user_from_public_key(std::string const& public_key) const
      {
        if (public_key.size() == 0)
          throw elle::Exception("empty public key!");
        json::Dictionary request;
        request["public_key"] = public_key;
        return this->_request<UserResponse>(
          "/user/from_public_key", Method::POST, request);
      }

      SwaggersResponse
      Client::get_swaggers() const
      {
        return this->_request<SwaggersResponse>("/user/swaggers", Method::GET);
      }

      RemoveSwaggerResponse
      Client::remove_swagger(std::string const& _id) const
      {
        json::Dictionary request{std::map<std::string, std::string>{
            {"_id", _id},
              }};

        return this->_request<RemoveSwaggerResponse>(
          "/user/remove_swagger", Method::POST, request);
      }

      Response
      Client::favorite(std::string const& user) const
      {
        json::Dictionary request;
        request["user_id"] = user;
        return this->_request<DebugResponse>(
          "/user/favorite", Method::POST, request);
      }

      Response
      Client::unfavorite(std::string const& user) const
      {
        json::Dictionary request;
        request["user_id"] = user;
        return this->_request<DebugResponse>(
          "/user/unfavorite", Method::POST, request);
      }

      // InvitedResponse
      // Client::invited() const
      // {
      //   return this->_get<InvitedResponse>("/user/invited");
      // }

      /*--------.
      | Devices |
      `--------*/
      CreateDeviceResponse
      Client::create_device(std::string const& name) const
      {
        json::Dictionary request{std::map<std::string, std::string>{
            {"name", name},
        }};
        return this->_request<CreateDeviceResponse>(
          "/device/create", Method::POST, request);
      }

      UpdateDeviceResponse
      Client::update_device(boost::uuids::uuid const& device_uuid,
                            std::string const& name) const
      {
        std::string struuid = boost::lexical_cast<std::string>(device_uuid);

        json::Dictionary request{std::map<std::string, std::string>{
            {"id", struuid},
            {"name", name},
        }};

        return this->_request<UpdateDeviceResponse>(
          "/device/update", Method::POST, request);
      }

      DeviceResponse
      Client::device(boost::uuids::uuid const& device_uuid) const
      {
        std::string struuid = boost::lexical_cast<std::string>(device_uuid);

        return this->_request<DeviceResponse>(
          sprintf("/device/%s/view", struuid), Method::GET);
      }

      DeleteDeviceResponse
      Client::delete_device(boost::uuids::uuid const& device_uuid) const
      {
        std::string struuid = boost::lexical_cast<std::string>(device_uuid);

        json::Dictionary request{std::map<std::string, std::string>{
            {"id", struuid},
         }};

        return this->_request<DeleteDeviceResponse>(
          "/device/delete", Method::POST, request);
      }

      /*------.
      | Users |
      `------*/
      InviteUserResponse
      Client::invite_user(std::string const& email) const
      {
        json::Dictionary request{std::map<std::string, std::string>
          {
            {"email", email}
          }};

        auto res = this->_request<InviteUserResponse>(
          "/user/invite", Method::POST, request);

        return res;
      }

      CreateTransactionResponse
      Client::create_transaction(std::string const& recipient_id_or_email,
                                 std::list<std::string> const& files,
                                 size_t count,
                                 size_t size,
                                 bool is_dir,
                                 // boost::uuids::uuid const& device_uuid,
                                 std::string const& struuid,
                                 std::string const& message) const
      {
        json::Dictionary request;

        // std::string struuid = boost::lexical_cast<std::string>(device_uuid);

        request["id_or_email"] = recipient_id_or_email;
        request["files"] = files;
        request["files_count"] = count;
        request["total_size"] = size;
        request["is_directory"] = is_dir;
        request["device_id"] = struuid; // Can be determine by session.
        request["message"] = message;

        return this->_request<CreateTransactionResponse>(
          "/transaction/create", Method::POST, request);
      }

      UpdateTransactionResponse
      Client::update_transaction(std::string const& transaction_id,
                                 Transaction::Status status,
                                 std::string const& device_id,
                                 std::string const& device_name) const
      {
        ELLE_TRACE("%s: update %s transaction with new status %s",
                   *this,
                   transaction_id,
                   status);
        json::Dictionary request{};
        request["transaction_id"] = transaction_id;
        request["status"] = (int) status;

        if (status == oracles::Transaction::Status::accepted)
        {
          ELLE_ASSERT_GT(device_id.length(), 0u);
          ELLE_ASSERT_GT(device_name.length(), 0u);
          request["device_id"] = device_id;
          request["device_name"] = device_name;
        }

        return this->_request<UpdateTransactionResponse>(
          "/transaction/update", Method::POST, request);
      }

      UpdateTransactionResponse
      Client::accept_transaction(std::string const& transaction_id,
                                 std::string const& device_id,
                                 std::string const& device_name) const
      {
        ELLE_TRACE("%s: accept %s transaction on device %s (%s)",
                   *this, transaction_id, device_name, device_id);

        return this->update_transaction(transaction_id,
                                        Transaction::Status::accepted,
                                        device_id,
                                        device_name);
      }

      static
      Transaction
      transaction_from_json(boost::any const& json_)
      {
        auto const& json = boost::any_cast<elle::json::Object>(json_);
        Transaction t;
        t.id = boost::any_cast<std::string>(json.at("_id"));
        t.sender_id = boost::any_cast<std::string>(json.at("sender_id"));
        t.sender_fullname =
          boost::any_cast<std::string>(json.at("sender_fullname"));
        t.sender_device_id =
          boost::any_cast<std::string>(json.at("sender_device_id"));
        t.recipient_id =
          boost::any_cast<std::string>(json.at("recipient_id"));
        t.recipient_fullname =
          boost::any_cast<std::string>(json.at("recipient_fullname"));
        t.recipient_device_id =
          boost::any_cast<std::string>(json.at("recipient_device_id"));
        t.recipient_device_name =
          boost::any_cast<std::string>(json.at("recipient_device_name"));
        t.message = boost::any_cast<std::string>(json.at("message"));
        for (auto const& file:
             boost::any_cast<elle::json::Array>(json.at("files")))
        {
          t.files.push_back(boost::any_cast<std::string>(file));
        }
        t.files_count = boost::any_cast<int64_t>(json.at("files_count"));
        t.total_size = boost::any_cast<int64_t>(json.at("total_size"));
        t.is_directory = boost::any_cast<bool>(json.at("is_directory"));
        t.status =
          Transaction::Status(boost::any_cast<int64_t>(json.at("status")));
        t.ctime = boost::any_cast<double>(json.at("ctime"));
        t.mtime = boost::any_cast<double>(json.at("mtime"));
        return t;
      }

      Transaction
      Client::transaction(std::string const& _id) const
      {
        std::string url = sprintf("/transaction/%s", _id);
        reactor::http::Request request =
          this->_client.request(this->_url(url),
                                Method::GET,
                                this->_default_configuration);
        this->_handle_errors(request);
        return transaction_from_json(elle::json::read(request));
      }

      std::vector<Transaction>
      Client::transactions(std::vector<Transaction::Status> const& status,
                           bool negate,
                           int count) const
      {
        std::string url;
        if (status.size() > 0)
        {
          std::stringstream filter;
          std::vector<boost::any> status_json;
          for (auto s: status)
            status_json.push_back(boost::any(int(s)));
          elle::json::write(filter, status_json);
          // FIXME: handle query parameters in reactor Request
          url = elle::sprintf("/transactions?count=%d&negate=%d&filter=%s",
                              count, negate, filter.str());
        }
        else
          url = "/transactions";
        reactor::http::Request request =
          this->_client.request(this->_url(url),
                                Method::GET,
                                this->_default_configuration);
        this->_handle_errors(request);
        auto json = elle::json::read(request);
        auto const& transactions =
          boost::any_cast<elle::json::Array>(
            boost::any_cast<elle::json::Object>(json).at("transactions"));
        std::vector<Transaction> res;
        for (auto const& transaction: transactions)
          res.push_back(transaction_from_json(transaction));
        return res;
      }

      MessageResponse
      Client::send_message(std::string const& recipient_id,
                           std::string const& sender_id,
                           std::string const& message) const
      {
        json::Dictionary request{std::map<std::string, std::string>
          {
            {"recipient_id", recipient_id},
            {"sender_id", sender_id},
            {"message", message},
              }};

        // FIXME: Time.h ????
        request["time"] = 0;
        request["notification_id"] = 217;

        // FIXME: /user/message
        auto res = this->_request<MessageResponse>(
          "/debug", Method::POST, request);

        return res;
      }

      DebugResponse
      Client::debug() const
      {
        return this->_request<DebugResponse>("/scratchit", Method::GET);
      }

      void
      Client::transaction_endpoints_put(
        std::string const& transaction_id,
        std::string const& device_id,
        adapter_type const& local_endpoints,
        adapter_type const& public_endpoints) const
      {
        elle::json::Object json;
        json["device"] = device_id;
        auto convert_endpoints = [&](adapter_type const& endpoints)
          {
            std::vector<boost::any> res;
            for (auto const& endpoint: endpoints)
            {
              elle::json::Object o;
              o["ip"] = endpoint.first;
              o["port"] = endpoint.second;
              res.push_back(std::move(o));
            }
            return res;
          };
        json["locals"] = convert_endpoints(local_endpoints);
        json["externals"] = convert_endpoints(public_endpoints);
        auto url = elle::sprintf("/transaction/%s/endpoints", transaction_id);
        reactor::http::Request request =
          this->_client.request(this->_url(url),
                                Method::PUT,
                                "application/json",
                                this->_default_configuration);
        elle::json::write(request, json);
        this->_handle_errors(request);
        auto response = elle::json::read(request);
      }

      ConnectDeviceResponse
      Client::connect_device(std::string const& transaction_id,
                             std::string const& device_id,
                             adapter_type const& local_endpoints,
                             adapter_type const& public_endpoints) const
      {
        json::Dictionary request{
          std::map<std::string, std::string>{
            {"_id", transaction_id},
            {"device_id", device_id},
              }
        };

        json::Array local_addrs;
        for (auto& a: local_endpoints)
        {
          json::Dictionary endpoint;

          endpoint["ip"] = a.first;
          endpoint["port"] = a.second;
          local_addrs.push_back(endpoint);
        }

        request["locals"] = local_addrs;

        json::Array public_addrs;
        for (auto& a : public_endpoints)
        {
          json::Dictionary pub_addr;

          pub_addr["ip"] = a.first;
          pub_addr["port"] = a.second;
          public_addrs.push_back(pub_addr);
        }

        request["externals"] = public_addrs;

        return this->_request<ConnectDeviceResponse>(
          "/transaction/connect_device", Method::POST, request);
      }

      EndpointNodeResponse
      Client::device_endpoints(std::string const& transaction_id,
                               std::string const& self_device_id,
                               std::string const& device_id) const
      {
        json::Dictionary request{
          std::map<std::string, std::string>{
            {"self_device_id", self_device_id},
            {"device_id", device_id},
          }
        };

        return this->_request<EndpointNodeResponse>(
          sprintf("/transaction/%s/endpoints", transaction_id),
          Method::POST, request);
      }

      FallbackResponse
      Client::fallback(std::string const& _id) const
      {
        return this->_request<FallbackResponse>(
          elle::sprintf("/apertus/fallback/%s", _id), Method::GET);
      }

      CloudBufferTokenResponse
      Client::get_cloud_buffer_token(std::string const& transaction_id,
                                     bool force_regenerate) const
      {
        // don't trust the sprintf bool printer to match the expected format
        // for URL query bool argument
        return this->_request<CloudBufferTokenResponse>(
          elle::sprintf("/transaction/%s/cloud_buffer?force_regenerate=%s",
                        transaction_id, force_regenerate?"true":"false"),
          Method::GET);
      }

      /*--------------.
      | Server Status |
      `--------------*/

      ServerStatusResponse
      Client::server_status() const
      {
        return this->_request<ServerStatusResponse>("/status", Method::GET);
      }

      elle::Buffer
      Client::icon(std::string const& user_id) const
      {
        auto request = this->_build_request(
          elle::sprintf("/user/%s/avatar", user_id),
          Method::GET,
          *(elle::format::json::Object*)(nullptr));

        return request.response();
      }

      void
      Client::icon(std::string const& user_id,
                   elle::ConstWeakBuffer const& icon) const
      {
        reactor::http::Request request =
          this->_client.request(
            elle::sprintf("%s/user/avatar", this->_root_url),
            reactor::http::Method::POST,
            "application/octet-stream",
            this->_default_configuration);

        request.write((char const*) icon.contents(), icon.size());
        request.finalize();

        auto status = request.status();
        if (status != reactor::http::StatusCode::OK)
        {
          throw elle::http::Exception(
            static_cast<elle::http::ResponseCode>(status),
            elle::sprintf("error %s while POSTing avatar", status));
        }
      }

      reactor::http::Request
      Client::_build_request(std::string const& url,
                             reactor::http::Method method,
                             elle::format::json::Object const& body) const
      {
        ELLE_LOG_COMPONENT("oracles.meta.client");
        ELLE_TRACE_SCOPE("%s: %s on %s", *this, method, url);

        reactor::http::Request request = &body ?
          this->_client.request(
            this->_root_url + url,
            method,
            "application/json",
            this->_default_configuration) :
          this->_client.request(
            this->_root_url + url,
            method,
            this->_default_configuration);

        if (&body)
        {
          request << body.repr() << "\n";
          request.finalize();
        }

        auto status = request.status();
        if (status != reactor::http::StatusCode::OK)
        {
          ELLE_ERR("%s: error while posting: %s (%s)",
                   *this, status, request.response().string());
          throw elle::http::Exception(
            static_cast<elle::http::ResponseCode>(status),
            elle::sprintf("error %s while posting on %s", status, url));
        }
        return request;
      }

      std::string
      Client::_url(std::string const& url) const
      {
        return this->_root_url + url;
      }

      void
      Client::_handle_errors(reactor::http::Request& request) const
      {
        auto response = request.status();
        if (response != reactor::http::StatusCode::OK)
        {
          ELLE_ERR("%s: error while posting: %s.\n%s",
                   *this, response, request.response().string());
          ELLE_ERR("%s", elle::Backtrace::current());
          throw elle::http::Exception(
            static_cast<elle::http::ResponseCode>(response),
            elle::sprintf("error %s while posting on %s",
                          response, request.url()));
        }
      }

      //- Properties ------------------------------------------------------------

      std::ostream&
      operator <<(std::ostream& out,
                  Error e)
      {
        switch (e)
        {
          <%! from infinit.oracles.meta.error import errors %>
          %for name, (code, comment) in sorted(errors.items()):
            case Error::${name}:
              out << "${name} (${comment})";
              break;
          %endfor
        }
        return out;
      }

      void
      User::print(std::ostream& stream) const
      {
        stream << "User(" << this->id << ", " << this->handle << ")";
      }

      /*----------.
      | Printable |
      `----------*/
      void
      Client::print(std::ostream& stream) const
      {
        stream << "meta::Client(" << this->_host << ":" << this->_port << " @" << this->_email << ")";
      }
    }
  }
}
