#include <cmath>
#include <sstream>

#include <boost/uuid/uuid_io.hpp>
#include <boost/uuid/string_generator.hpp>
#include <boost/lexical_cast.hpp>
#include <boost/date_time/posix_time/posix_time.hpp>

#include <elle/container/list.hh>
#include <elle/format/json/Dictionary.hh>
#include <elle/json/exceptions.hh>
#include <elle/json/json.hh>
#include <elle/log.hh>
#include <elle/os/environ.hh>
#include <elle/print.hh>
#include <elle/serialization/json.hh>
#include <elle/system/platform.hh>

#include <reactor/scheduler.hh>
#include <reactor/http/exceptions.hh>

#include <infinit/oracles/meta/Client.hh>
#include <infinit/oracles/meta/ErrorCode.hh>
#include <infinit/oracles/meta/macro.hh>

#include <surface/gap/Error.hh>

#include <version.hh>

ELLE_LOG_COMPONENT("infinit.plasma.meta.Client");

/*-------------.
| Transactions |
`-------------*/

namespace infinit
{
  namespace oracles
  {
    namespace meta
    {
      /*--------.
      | Helpers |
      `--------*/

      static
      boost::posix_time::time_duration
      _requests_timeout()
      {
        auto env = elle::os::getenv("INFINIT_META_REQUEST_TIMEOUT", "");
        if (!env.empty())
          return boost::posix_time::seconds(boost::lexical_cast<int>(env));
        else
          return 30_sec;
      }

      static
      bool
      watermark(reactor::http::Request const& request)
      {
        static const std::string header = "X-Fist-Meta-Version";
        return request.headers().find(header) != request.headers().end();
      }

      /*-----.
      | Self |
      `-----*/

      Self::Self(elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      void
      Self::serialize(elle::serialization::Serializer& s)
      {
        User::serialize(s);
        s.serialize("email", this->email);
        s.serialize("identity", this->identity);
        s.serialize("devices", this->devices);
        s.serialize("favorites", this->favorites);
      }

      /*-------.
      | Device |
      `-------*/

      Device::Device(elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      void
      Device::serialize(elle::serialization::Serializer& s)
      {
        s.serialize("id", this->id);
        s.serialize("name", this->name);
        s.serialize("passport", this->passport);
      }

      void
      Device::print(std::ostream& stream) const
      {
        stream << "Device(" << this->name << ")";
      }

      /*-------------.
      | ServerStatus |
      `-------------*/

      ServerStatus::ServerStatus(elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      ServerStatus::ServerStatus(bool status_, std::string message_)
        : status(status_)
        , message(std::move(message))
      {}

      void
      ServerStatus::serialize(elle::serialization::Serializer& s)
      {
        s.serialize("status", this->status);
        if (!this->status)
          s.serialize("message", this->message);
      }

      /*---------.
      | Fallback |
      `---------*/

      Fallback::Fallback(elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      void
      Fallback::serialize(elle::serialization::Serializer& s)
      {
        s.serialize("fallback_host", this->fallback_host);
        s.serialize("fallback_port_ssl", this->fallback_port_ssl);
        s.serialize("fallback_port_tcp", this->fallback_port_tcp);
      }

      /*-----.
      | User |
      `-----*/

      User::User(std::string const& id,
                 std::string const& fullname,
                 std::string const& handle,
                 std::string const& register_status,
                 User::Devices const& devices,
                 std::string const& public_key):
        id(id),
        fullname(fullname),
        handle(handle),
        register_status(register_status),
        connected_devices(devices),
        public_key(public_key)
      {}

      /*-------------.
      | SerializerIn |
      `-------------*/

      class SerializerIn
        : public elle::serialization::json::SerializerIn
      {
      public:
        SerializerIn(std::string const& url, reactor::http::Request& input)
        try
          : elle::serialization::json::SerializerIn(input)
        {}
        catch (elle::serialization::Error const& e)
        {
          ELLE_ERR("GIVE THE FOLLOWING ERROR TO MEFYL RIGHT AWAY. THX.");
          ELLE_ERR("https://app.asana.com/0/5058254180090/12894049383956");
          ELLE_ERR("JSON parse error requesting %s: %s", url, e);
          if (e.inner_exception())
            ELLE_ERR("Inner exception: %s", *e.inner_exception());
          ELLE_ERR("body was: %s", input.response().string());
          throw;
        }
      };

      using elle::sprintf;
      using reactor::http::Method;

      /*----------.
      | Exception |
      `----------*/

      Exception::Exception(Error const& error, std::string const& message)
        : elle::Exception(message)
        , err{error}
      {}

      bool
      Exception::operator ==(Exception const& e) const
      {
        return (this->err == e.err);
      }

      bool
      Exception::operator ==(Error const& error) const
      {
        return (this->err == error);
      }

      bool
      Exception::operator !=(Error const& error) const
      {
        return !(*this == error);
      }

      namespace json = elle::format::json;

      /*-------------.
      | Construction |
      `-------------*/

      Client::Client(std::string const& protocol,
                     std::string const& server,
                     uint16_t port):
        _protocol(protocol),
        _host(server),
        _port(port),
        _root_url{elle::sprintf("%s://%s:%d", protocol, server, port)},
        _client{"MetaClient/" INFINIT_VERSION},
        _default_configuration(_requests_timeout(),
                               {},
                               reactor::http::Version::v10),
        _email{},
        _logged_in{false}
      {
        // Don't check the host name since we have only one certificate but we
        // change hostname between minor versions.
        this->_default_configuration.ssl_verify_host(false);
        this->_rng.seed(static_cast<unsigned int>(std::time(0)));
      }

      Client::~Client()
      {}

      std::string
      Client::session_id() const
      {
        if (this->_client.cookies().find("session-id") !=
          this->_client.cookies().end())
          return this->_client.cookies()["session-id"];
        return "";
      }

      void
      Client::session_id(std::string const& session_id)
      {
        ELLE_TRACE_SCOPE("%s: set the session id to %s", *this, session_id);
        this->_default_configuration.cookies()["session-id"] = session_id;
      }

      /*------.
      | Users |
      `------*/

      static
      User
      user_from_json(boost::any const& json_)
      {
        auto const& json = boost::any_cast<elle::json::Object>(json_);
        User u;
        u.id = boost::any_cast<std::string>(json.at("id"));
        u.fullname = boost::any_cast<std::string>(json.at("fullname"));
        u.handle = boost::any_cast<std::string>(json.at("handle"));
        u.public_key = boost::any_cast<std::string>(json.at("public_key"));
        u.register_status =
          boost::any_cast<std::string>(json.at("register_status"));
        for (auto const& device:
             boost::any_cast<elle::json::Array>(json.at("connected_devices")))
        {
          u.connected_devices.push_back(boost::any_cast<std::string>(device));
        }
        return u;
      }

      User::User(elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      void
      User::serialize(elle::serialization::Serializer& s)
      {
        s.serialize("id", this->id);
        s.serialize("fullname", this->fullname);
        s.serialize("handle", this->handle);
        s.serialize("register_status", this->register_status);
        s.serialize("connected_devices", this->connected_devices);
        s.serialize("public_key", this->public_key);
      }

      LoginResponse::LoginResponse(
        elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      LoginResponse::Trophonius::Trophonius(
        elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      void
      LoginResponse::serialize(elle::serialization::Serializer& s)
      {
        s.serialize("_id", this->id);
        s.serialize("fullname", this->fullname);
        s.serialize("handle", this->handle);
        s.serialize("email", this->email);
        s.serialize("identity", this->identity);
        s.serialize("device_id", this->device_id);
        s.serialize("trophonius", this->trophonius);
        s.serialize("features", this->features);
      }

      void
      LoginResponse::Trophonius::serialize(elle::serialization::Serializer& s)
      {
        s.serialize("host", this->host);
        s.serialize("port", this->port);
        s.serialize("port_ssl", this->port_ssl);
      }

      LoginResponse
      Client::login(std::string const& email,
                    std::string const& password,
                    boost::uuids::uuid const& device_uuid)
      {
        std::string struuid = boost::lexical_cast<std::string>(device_uuid);

        auto url = "/login";
        auto request = this->_request(
          url,
          Method::POST,
          [&] (reactor::http::Request& r)
          {
            elle::serialization::json::SerializerOut output(r);
            output.serialize("email", const_cast<std::string&>(email));
            output.serialize("password", const_cast<std::string&>(password));
            std::string struuid = boost::lexical_cast<std::string>(device_uuid);
            output.serialize("device_id", struuid);
            auto os = elle::system::platform::os_name();
            output.serialize("OS", os);
          },
          false);
        if (request.status() == reactor::http::StatusCode::Forbidden)
        {
          SerializerIn input(url, request);
          int error_code;
          input.serialize("code", error_code);
          using ErrorCode = ::oracles::meta::client::ErrorCode;
          switch (ErrorCode(error_code))
          {
            case ErrorCode::email_not_confirmed:
              throw infinit::state::UnconfirmedEmailError();
            case ErrorCode::email_password_dont_match:
              throw infinit::state::CredentialError();
            case ErrorCode::already_logged_in:
              throw infinit::state::AlreadyLoggedIn();
            case ErrorCode::deprecated:
              throw infinit::state::VersionRejected();
            default:
              throw infinit::state::LoginError(
                elle::sprintf("%s: Unknown, good luck!", error_code));
          }
        }
        else
        {
          this->_handle_errors(request);
          {
            SerializerIn input(url, request);
            LoginResponse response(input);
            // Debugging purpose.
            this->_email = email;
            this->_logged_in = true;
            return response;
          }
        }
      }

      void
      Client::logout()
      {
        this->_request("/logout", Method::POST);
        // Debugging purpose.
        this->_email = "";
        this->_logged_in = false;
      }

      LoginResponse::Trophonius
      Client::trophonius()
      {
        auto url = "/trophonius";
        auto request = this->_request(url, Method::GET, false);
        switch (request.status())
        {
          case reactor::http::StatusCode::Forbidden:
            throw infinit::state::CredentialError();
          default:
            this->_handle_errors(request);
        }
        SerializerIn input(url, request);
        return LoginResponse::Trophonius(input);
      }

      std::string
      Client::register_(std::string const& email,
                        std::string const& fullname,
                        std::string const& password) const
      {
        std::string source = "app";
        auto url = "/user/register";
        auto request = this->_request(
          url,
          Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut output(request);
            output.serialize("email", const_cast<std::string&>(email));
            output.serialize("fullname", const_cast<std::string&>(fullname));
            output.serialize("password", const_cast<std::string&>(password));
            output.serialize("source", const_cast<std::string&>(source));
          });
        std::string user_id = "";
        SerializerIn input(url, request);
        bool success;
        input.serialize("success", success);
        if (success)
        {
          input.serialize("registered_user_id", user_id);
        }
        else
        {
          int error_code;
          input.serialize("error_code", error_code);
          using ErrorCode = ::oracles::meta::client::ErrorCode;
          switch(ErrorCode(error_code))
          {
            case ErrorCode::already_logged_in:
              throw infinit::state::AlreadyLoggedIn();
            case ErrorCode::email_already_registered:
              throw infinit::state::EmailAlreadyRegistered();
            case ErrorCode::email_not_valid:
              throw infinit::state::EmailNotValid();
            case ErrorCode::password_not_valid:
              throw infinit::state::PasswordNotValid();
            case ErrorCode::fullname_not_valid:
              throw infinit::state::FullnameNotValid();

            default:
              throw infinit::state::SelfUserError(
                elle::sprintf("Unknown registration error: %s", error_code));
          }
        }
        return user_id;
      }

      static
      std::pair<std::string, User>
      email_and_user(boost::any const& json_)
      {
        auto const& json = boost::any_cast<elle::json::Object>(json_);
        std::pair<std::string, User> res;
        res.first = boost::any_cast<std::string>(json.at("email"));
        res.second = user_from_json(json_);
        return res;
      }

      std::unordered_map<std::string, User>
      Client::search_users_by_emails(
        std::vector<std::string> const& emails, int limit, int offset) const
      {
        std::string url = elle::sprintf(
          "/user/search_emails?limit=%s&offset=%s", limit, offset);
        // Use a POST as otherwise the GET URL is too long to process.
        auto request = this->_request(
          url,
          Method::POST,
          [&] (reactor::http::Request& r)
          {
            elle::serialization::json::SerializerOut query(r);
            query.serialize("emails",
                            const_cast<std::vector<std::string>&>(emails));
          });

        auto json = elle::json::read(request);
        auto const& users =
          boost::any_cast<elle::json::Array>(
            boost::any_cast<elle::json::Object>(json).at("users"));
        std::unordered_map<std::string, User> res;
        for (auto const& user: users)
        {
          res.insert(email_and_user(user));
        }
        return res;
      }

      std::vector<User>
      Client::users_search(std::string const& text, int limit, int offset) const
      {
        std::string url = "/users";
        reactor::http::Request::QueryDict query;
        query["search"] = text;
        if (limit > 0)
          query["limit"] = elle::sprintf("%s", limit);
        if (offset > 0)
          query["offset"] = elle::sprintf("%s", offset);
        auto request = this->_request(url, Method::GET, query);
        SerializerIn input(url, request);
        std::vector<User> res;
        input.serialize("users", res);
        return res;
      }

      User
      Client::user_from_handle(std::string const& handle) const
      {
        if (handle.size() == 0)
          throw elle::Exception("No handle");
        std::string url = elle::sprintf("/users/from_handle/%s", handle);
        auto request = this->_request(url, Method::GET, false);
        switch (request.status())
        {
          case reactor::http::StatusCode::Not_Found:
            throw infinit::state::UserNotFoundError(handle);
          default:
            this->_handle_errors(request);
        }
        SerializerIn input(url, request);
        return User(input);
      }

      User
      Client::user(std::string const& id_or_email) const
      {
        if (id_or_email.size() == 0)
          throw elle::Exception("Invalid id or email");
        std::string url = elle::sprintf("/users/%s", id_or_email);
        auto request = this->_request(url, Method::GET, false);
        switch (request.status())
        {
          case reactor::http::StatusCode::Not_Found:
            throw infinit::state::UserNotFoundError(id_or_email);
          default:
            this->_handle_errors(request);
        }
        SerializerIn input(url, request);
        return User(input);
      }

      Self
      Client::self() const
      {
        auto url = "/user/self";
        auto request = this->_request(url, Method::GET);
        SerializerIn input(url, request);
        return Self(input);
      }

      User
      Client::user_from_public_key(std::string const& public_key) const
      {
        if (public_key.size() == 0)
          throw elle::Exception("empty public key!");
        auto url = "/user/from_public_key";
        auto request = this->_request(
          url, Method::POST,
          [&] (reactor::http::Request& r)
          {
            elle::serialization::json::SerializerOut query(r);
            query.serialize("public_key",
                            const_cast<std::string&>(public_key));
          });
        SerializerIn input(url, request);
        return User(input);
      }

      std::vector<User>
      Client::get_swaggers() const
      {
        std::string url = "/user/full_swaggers";
        auto request = this->_request(url, Method::GET);
        SerializerIn input(url, request);
        std::vector<User> res;
        input.serialize("swaggers", res);
        return res;
      }

      void
      Client::remove_swagger(std::string const& id) const
      {
        this->_request(
          "/user/remove_swagger",
          Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut query(request);
            query.serialize("_id", const_cast<std::string&>(id));
          });
      }

      void
      Client::favorite(std::string const& user) const
      {
        this->_request(
          "/user/favorite",
          Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut query(request);
            query.serialize("user_id",
                            const_cast<std::string&>(user));
          });
      }

      void
      Client::unfavorite(std::string const& user) const
      {
        this->_request(
          "/user/unfavorite",
          Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut query(request);
            query.serialize("user_id",
                            const_cast<std::string&>(user));
          });
      }

      /*--------.
      | Devices |
      `--------*/

      Device
      Client::update_device(boost::uuids::uuid const& device_uuid,
                            std::string const& name) const
      {
        std::string struuid = boost::lexical_cast<std::string>(device_uuid);
        std::string url = "/device/update";
        auto request = this->_request(
          url,
          Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut query(request);
            query.serialize("id", struuid);
            query.serialize("name", const_cast<std::string&>(name));
          });
        SerializerIn input(url, request);
        return Device(input);
      }

      Device
      Client::device(boost::uuids::uuid const& device_id) const
      {
        std::string const url = elle::sprintf("/device/%s/view", device_id);

        auto request = this->_request(url, Method::GET);
        SerializerIn input(url, request);
        return Device(input);
      }

      /*------------------.
      | Peer Transactions |
      `------------------*/

      CreatePeerTransactionResponse::CreatePeerTransactionResponse(
        elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      void
      CreatePeerTransactionResponse::serialize(
        elle::serialization::Serializer& s)
      {
        s.serialize("created_transaction_id", this->_created_transaction_id);
        s.serialize("recipient_is_ghost", this->_recipient_is_ghost);
      }

      CreatePeerTransactionResponse
      Client::create_transaction(std::string const& recipient_id_or_email,
                                 std::list<std::string> const& files,
                                 uint64_t count,
                                 uint64_t size,
                                 bool is_dir,
                                 // boost::uuids::uuid const& device_uuid,
                                 std::string const& struuid,
                                 std::string const& message) const
      {
        ELLE_TRACE("%s: create transaction to %s with files: %s (size: %s)",
                   *this, recipient_id_or_email, files, size);
        std::string const url = "/transaction/create";
        auto request = this->_request(
          url,
          Method::POST,
          [&] (reactor::http::Request& r)
          {
            elle::serialization::json::SerializerOut query(r);
            query.serialize("id_or_email",
                            const_cast<std::string&>(recipient_id_or_email));
            query.serialize("files",
                            const_cast<std::list<std::string>&>(files));
            int64_t count_integral = static_cast<int64_t>(count);
            query.serialize("files_count", count_integral);
            int64_t size_integral = static_cast<int64_t>(size);
            query.serialize("total_size", size_integral);
            query.serialize("is_directory", is_dir);
            query.serialize("device_id", const_cast<std::string&>(struuid));
            query.serialize("message", const_cast<std::string&>(message));
          });
        SerializerIn input(url, request);
        return CreatePeerTransactionResponse(input);
      }

      void
      Client::update_transaction(std::string const& transaction_id,
                                 Transaction::Status status,
                                 std::string const& device_id,
                                 std::string const& device_name) const
      {
        ELLE_TRACE("%s: update %s transaction with new status %s",
                   *this,
                   transaction_id,
                   status);
        auto request = this->_request(
          "/transaction/update",
          Method::POST,
          [&] (reactor::http::Request& r)
          {
            elle::serialization::json::SerializerOut query(r);
            // FIXME: get rid of const casts when output serialization has his
            // const API
            query.serialize("transaction_id",
                            const_cast<std::string&>(transaction_id));
            int status_integral = static_cast<int>(status);
            query.serialize("status", status_integral);
            if (status == oracles::Transaction::Status::accepted)
            {
              ELLE_ASSERT_GT(device_id.length(), 0u);
              ELLE_ASSERT_GT(device_name.length(), 0u);
              query.serialize("device_id",
                              const_cast<std::string&>(device_id));
              query.serialize("device_name",
                              const_cast<std::string&>(device_name));
            }
          });
      }

      PeerTransaction
      Client::transaction(std::string const& _id) const
      {
        std::string url = sprintf("/transaction/%s", _id);
        reactor::http::Request request = this->_request(url, Method::GET);
        SerializerIn input(url, request);
        return PeerTransaction(input);
      }

      std::vector<PeerTransaction>
      Client::transactions(std::vector<Transaction::Status> const& statuses,
                           bool negate,
                           int count) const
      {
        std::string url;
        if (statuses.size() > 0)
        {
          std::stringstream filter;
          std::vector<boost::any> status_json;
          for (auto s: statuses)
            status_json.push_back(boost::any(int(s)));
          bool with_endl = false;
          elle::json::write(filter, status_json, with_endl);
          // FIXME: handle query parameters in reactor Request
          url = elle::sprintf("/transactions?count=%d&negate=%d&filter=%s",
                              count, negate, filter.str());
        }
        else
          url = "/transactions";
        auto request = this->_request(url, Method::GET);
        std::list<PeerTransaction> res;
        SerializerIn input(url, request);
        input.serialize("transactions", res);
        return std::vector<PeerTransaction>(res.begin(), res.end());
      }

      void
      Client::transaction_endpoints_put(
        std::string const& transaction_id,
        std::string const& device_id,
        adapter_type const& local_endpoints,
        adapter_type const& public_endpoints) const
      {
        elle::json::Object json;
        json["device"] = device_id;
        auto convert_endpoints = [&](adapter_type const& endpoints)
          {
            std::vector<boost::any> res;
            for (auto const& endpoint: endpoints)
            {
              elle::json::Object o;
              o["ip"] = endpoint.first;
              o["port"] = endpoint.second;
              res.push_back(std::move(o));
            }
            return res;
          };
        json["locals"] = convert_endpoints(local_endpoints);
        json["externals"] = convert_endpoints(public_endpoints);
        auto url = elle::sprintf("/transaction/%s/endpoints", transaction_id);
        this->_request(url, Method::PUT, [&] (reactor::http::Request& r)
                       {
                         elle::json::write(r, json);
                       });
      }

      Fallback
      Client::fallback(std::string const& id) const
      {
        auto url = elle::sprintf("/apertus/fallback/%s", id);
        auto request = this->_request(url, Method::GET);
        SerializerIn input(url, request);
        return Fallback(input);
      }

      aws::Credentials
      Client::get_cloud_buffer_token(std::string const& transaction_id,
                                     bool force_regenerate) const
      {
        auto url =
          elle::sprintf("/transaction/%s/cloud_buffer?force_regenerate=%s",
                        transaction_id, force_regenerate ? "true" : "false");
        auto request = this->_request(url, Method::GET, false);
        switch (request.status())
        {
          case reactor::http::StatusCode::Gone:
            throw infinit::state::TransactionFinalized();
          default:
            this->_handle_errors(request);
        }
        SerializerIn input(url, request);
        return aws::Credentials(input);
      }

      /*------.
      | Links |
      `------*/

      CreateLinkTransactionResponse::CreateLinkTransactionResponse(
        elle::serialization::SerializerIn& s)
      {
        this->serialize(s);
      }

      void
      CreateLinkTransactionResponse::serialize(
        elle::serialization::Serializer& s)
      {
        s.serialize("aws_credentials", this->_aws_credentials);
        s.serialize("transaction", this->_transaction);
      }

      CreateLinkTransactionResponse
      Client::create_link(LinkTransaction::FileList const& files,
                          std::string const& name,
                          std::string const& message) const
      {
        auto url = "/link";
        auto request = this->_request(
          url, Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut query(request);
            // FIXME: get rid of const casts when output serialization has his
            // const API
            query.serialize("name", const_cast<std::string&>(name));
            query.serialize("files",
                            const_cast<LinkTransaction::FileList&>(files));
            query.serialize("message", const_cast<std::string&>(message));
          });
        SerializerIn input(url, request);
        return CreateLinkTransactionResponse(input);
      }

      void
      Client::update_link(std::string const& id,
                          double progress,
                          Transaction::Status status) const
      {
        auto url = elle::sprintf("/link/%s", id);
        auto request = this->_request(
          url, Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::json::Object body;
            body["progress"] = progress;
            body["status"] = int(status);
            elle::json::write(request, body);
          });
      }

      std::vector<LinkTransaction>
      Client::links(int offset,
                    int count,
                    bool include_expired) const
      {
        std::string url =
          elle::sprintf("/links?offset=%s&count=%s", offset, count);
        if (include_expired)
          url += "&include_expired=1";
        auto request = this->_request(url, Method::GET);
        std::vector<LinkTransaction> res;
        SerializerIn input(url, request);
        input.serialize("links", res);
        return res;
      }

      aws::Credentials
      Client::link_credentials(std::string const& id,
                               bool regenerate) const
      {
        std::string url = elle::sprintf("/link/%s/credentials", id);
        auto request = regenerate
          ? this->_request(
            url,
            Method::POST,
            [&] (reactor::http::Request& request)
            {
              // If we POST, we must include valid JSON otherwise we get a 400.
              elle::json::Object empty_obj;
              elle::json::write(request, empty_obj);
            },
            true)
          : this->_request(url, Method::GET);
        SerializerIn input(url, request);
        return aws::Credentials(input);
      }

      /*--------------.
      | Server Status |
      `--------------*/

      ServerStatus
      Client::server_status() const
      {
        try
        {
          std::string const url = "/status";
          auto request = this->_client.request(this->_url(url),
                                               Method::GET,
                                               this->_default_configuration);
          reactor::wait(request);
          if (!watermark(request))
            return ServerStatus(
              false,
              "no internet connectivity: check your proxy credentials");
          auto status = request.status();
          switch (status)
          {
            case reactor::http::StatusCode::OK:
            {
              SerializerIn input(url, request);
              return ServerStatus(input);
            }
            case reactor::http::StatusCode::Bad_Gateway:
            case reactor::http::StatusCode::Gateway_Timeout:
            case reactor::http::StatusCode::Internal_Server_Error:
            case reactor::http::StatusCode::Service_Unavailable:
            {
              return ServerStatus(false, "service temporarily unavailable");
            }
            default:
            {
              return ServerStatus(
                false,
                elle::sprintf("service temporarily unavailable: %s", status));
            }
          }
        }
        catch (reactor::http::Timeout const&)
        {
          return ServerStatus(
            false, "no internet connectivity: network timeout");
        }
        catch (reactor::http::ResolutionFailure const&)
        {
          return ServerStatus(
            false, "no internet connectivity: resolution failure");
        }
        catch (reactor::http::RequestError const& e)
        {
          return ServerStatus(false, elle::sprintf("unknown error: %s", e));
        }
      }

      /*----------.
      | Self User |
      `----------*/

      void
      Client::change_email(std::string const& email,
                           std::string const& password) const
      {
        auto url = "/user/change_email_request";
        auto request = this->_request(
          url,
          Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut output(request);
            output.serialize("new_email", const_cast<std::string&>(email));
            output.serialize("password", const_cast<std::string&>(password));
          },
          false);
        switch (request.status())
        {
          case reactor::http::StatusCode::Forbidden:
          {
            SerializerIn input(url, request);
            int error_code;
            input.serialize("code", error_code);
            using ErrorCode = ::oracles::meta::client::ErrorCode;
            switch (ErrorCode(error_code))
            {
              case ErrorCode::email_already_registered:
                throw infinit::state::EmailAlreadyRegistered();
              case ErrorCode::password_not_valid:
                throw infinit::state::CredentialError();
              default:
                throw infinit::state::SelfUserError(
                  elle::sprintf("%s: Unknown, good luck!", error_code));
            }
          }
          default:
            this->_handle_errors(request);
        }
      }

      void
      Client::change_password(std::string const& old_password,
                              std::string const& new_password) const
      {
        auto url = "/user/change_password";
        auto request = this->_request(
          url,
          Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut output(request);
            output.serialize("old_password",
                             const_cast<std::string&>(old_password));
            output.serialize("new_password",
                             const_cast<std::string&>(new_password));
          });
        SerializerIn input(url, request);
        bool success;
        input.serialize("success", success);
        if (!success)
        {
          int error_code;
          input.serialize("error_code", error_code);
          using ErrorCode = ::oracles::meta::client::ErrorCode;
          switch (ErrorCode(error_code))
          {
            case ErrorCode::password_not_valid:
              throw infinit::state::CredentialError();
            default:
              throw infinit::state::SelfUserError(elle::sprintf(
                "Unknown change password error: %s", error_code));
          }
        }
      }

      void
      Client::edit_user(std::string const& fullname,
                         std::string const& handle) const
      {
        auto url = "/user/edit";
        auto request = this->_request(
          url,
          Method::POST,
          [&] (reactor::http::Request& request)
          {
            elle::serialization::json::SerializerOut output(request);
            output.serialize("fullname", const_cast<std::string&>(fullname));
            output.serialize("handle", const_cast<std::string&>(handle));
          });
        SerializerIn input(url, request);
        bool success;
        input.serialize("success", success);
        if (!success)
        {
          int error_code;
          input.serialize("error_code", error_code);
          using ErrorCode = ::oracles::meta::client::ErrorCode;
          switch (ErrorCode(error_code))
          {
            case ErrorCode::handle_already_registered:
              throw infinit::state::HandleAlreadyRegistered();
            default:
              throw infinit::state::SelfUserError(
                elle::sprintf("%s: Unknown, good luck!", error_code));
          }
        }
      }

      elle::Buffer
      Client::icon(std::string const& user_id) const
      {
        std::string url = elle::sprintf("/user/%s/avatar?no_place_holder=1",
                                        user_id);
        reactor::http::Request request =
          this->_request(url, Method::GET, false);
        switch (request.status())
        {
          case reactor::http::StatusCode::Not_Found:
            // If there is no avatar on the server, return an empty buffer.
            return elle::Buffer();
          default:
            this->_handle_errors(request);
        }
        return request.response();
      }

      void
      Client::icon(elle::ConstWeakBuffer const& icon) const
      {
        std::string content_type = "application/octet-stream";
        this->_request(
          "/user/avatar",
          reactor::http::Method::POST,
          reactor::http::Request::QueryDict(),
          Sender([&icon] (reactor::http::Request& request)
          {
            request.write((char const*) icon.contents(), icon.size());
          }),
          content_type);
      }

      /*--------.
      | Helpers |
      `--------*/

      void
      Client::_pacify_retry(int& try_count) const
      {
        ++try_count;
        // FIXME: make this delay exponential.
        boost::random::uniform_int_distribution<> random(100, 120);
        auto randomness = random(this->_rng) / 100.;
        auto factor = std::pow(2, std::min(try_count, 5));
        auto delay = 1_sec * factor * randomness;
        ELLE_TRACE("%s: wait %s before retrying", this, delay);
        reactor::sleep(delay);
      }

      reactor::http::Request
      Client::_request(
        std::string const& url,
        reactor::http::Method method,
        bool throw_on_status) const
      {
        return this->_request(
          url, method,
          reactor::http::Request::QueryDict(),
          boost::optional<Sender>(),
          boost::optional<std::string>(),
          throw_on_status);
      }

      reactor::http::Request
      Client::_request(
        std::string const& url,
        reactor::http::Method method,
        Sender const& send,
        bool throw_on_status) const
      {
        return this->_request(
          url,
          method,
          reactor::http::Request::QueryDict(),
          send,
          boost::optional<std::string>(),
          throw_on_status);
      }

      reactor::http::Request
      Client::_request(
        std::string const& url,
        Method method,
        reactor::http::Request::QueryDict const& query_dict,
        boost::optional<Sender> const& send,
        boost::optional<std::string> const& content_type_,
        bool throw_on_status) const
      {
        int retry_count = 0;
        while (true)
        {
          try
          {
            // FIXME: The content-type should not be deduced from the method but
            // from whether there is a send method.
            std::string content_type;
            if (content_type_)
              content_type = content_type_.get();
            else if (send)
              content_type = "application/json";
            reactor::http::Request request =
              content_type.empty() ?
              this->_client.request(this->_url(url),
                                    method,
                                    this->_default_configuration) :
              this->_client.request(this->_url(url),
                                    method,
                                    content_type,
                                    this->_default_configuration);
            if (!query_dict.empty())
              request.query_string(query_dict);
            if (send)
              send.get()(request);
            auto status = request.status();
            switch (status)
            {
              case reactor::http::StatusCode::OK:
              {
                if (!watermark(request))
                {
                  ELLE_WARN("%s: response requesting %s "
                            "not coming from meta, retrying",
                            *this, url);
                  this->_pacify_retry(retry_count);
                  continue;
                }
                break;
              }
              case reactor::http::StatusCode::Bad_Gateway:
              case reactor::http::StatusCode::Gateway_Timeout:
              case reactor::http::StatusCode::Internal_Server_Error:
              case reactor::http::StatusCode::Service_Unavailable:
              {
                ELLE_WARN("%s: transient status %s requesting %s, retrying",
                          *this, status, url);
                this->_pacify_retry(retry_count);
                continue;
              }
              default:
              {
                if (!watermark(request))
                {
                  ELLE_WARN("%s: status %s requesting %s"
                            " not coming from meta, retrying",
                            *this, status, url);
                  this->_pacify_retry(retry_count);
                  continue;
                }
                if (throw_on_status)
                {
                  ELLE_ERR("%s: error while posting: %s", *this, status);
                  ELLE_ERR("%s: %s", *this, request.response().string());
                  ELLE_ERR("%s", elle::Backtrace::current());
                  if (status == reactor::http::StatusCode::Found)
                  {
                    auto it = request.headers().find("Location");
                    if (it != request.headers().end())
                      ELLE_WARN("%s: Found location is %s", *this, *it);
                    else
                      ELLE_WARN("%s: Found location header is missing", *this);
                  }
                  this->_handle_errors(request);
                }
              }
            }
            return request;
          }
          catch (reactor::http::Timeout const&)
          {
            ELLE_WARN("%s: timeout requesting %s, retrying", *this, url);
          }
          catch (reactor::http::ResolutionFailure const&)
          {
            ELLE_WARN("%s: resolution failure requesting %s, retrying",
                      *this, url);
            this->_pacify_retry(retry_count);
          }
          catch (reactor::http::RequestError&)
          {
            ELLE_ERR("%s: unhandled error requesting %s, retrying: %s",
                     *this, url, elle::exception_string());
            this->_pacify_retry(retry_count);
          }
        }
      }

      std::string
      Client::_url(std::string const& url) const
      {
        return this->_root_url + url;
      }

      void
      Client::_handle_errors(reactor::http::Request& request) const
      {
        auto response = request.status();
        if (response != reactor::http::StatusCode::OK)
        {
          ELLE_ERR("%s: error while posting: %s.\n%s",
                   *this, response, request.response().string());
          ELLE_ERR("%s", elle::Backtrace::current());
          throw elle::http::Exception(
            static_cast<elle::http::ResponseCode>(response),
            elle::sprintf("error %s while posting on %s",
                          response, request.url()));
        }
      }

      //- Properties ------------------------------------------------------------

      std::ostream&
      operator <<(std::ostream& out,
                  Error e)
      {
        switch (e)
        {
          <%! from infinit.oracles.meta.error import errors %>
          %for name, (code, comment) in sorted(errors.items()):
            case Error::${name}:
              out << "${name} (${comment})";
              break;
          %endfor
        }
        return out;
      }

      void
      User::print(std::ostream& stream) const
      {
        stream << "User(" << this->id << ", " << this->handle << ")";
      }

      /*----------.
      | Printable |
      `----------*/
      void
      Client::print(std::ostream& stream) const
      {
        stream << "meta::Client(" << this->_host << ":" << this->_port << " @" << this->_email << ")";
      }
    }
  }
}
