#include <iostream>

#include <infinit/oracles/meta/Error.hh>

namespace infinit
{
  namespace oracles
  {
    namespace meta
    {
      std::ostream&
      operator <<(std::ostream& out,
                  Error e)
      {
        switch (e)
        {
          <%! from infinit.oracles.meta.error import errors %>
          %for name, (code, comment) in sorted(errors.items()):
            case Error::${name}:
              out << "${name} (${comment})";
              break;
          %endfor
        }
        return out;
      }
    }
  }
}
