#ifndef ORACLES_META_CLIENT_ERROR_CODE_HH
# define ORACLES_META_CLIENT_ERROR_CODE_HH

namespace oracles
{
  namespace meta
  {
    namespace client
    {
      enum class ErrorCode
      {
        <%! from infinit.oracles.meta.error import errors %>
        %for name, (code, comment) in sorted(errors.items()):
          ${name} = ${code},
        %endfor
      };
    }
  }
}

#endif
