#include <infinit/oracles/meta/Client.hh>
#include <infinit/oracles/meta/Admin.hh>

#include <boost/uuid/string_generator.hpp>
#include <boost/python.hpp>
#include <string>

namespace py = boost::python;

template <class T>
struct container_wrap
{
  typedef typename T::value_type value_type;
  typedef typename T::iterator iter_type;

  static
  void add(T & x,
           value_type const& v)
  {
    x.push_back(v);
  }

  static
  bool in(T const& x, value_type const& v)
  {
    return std::find(x.begin(), x.end(), v) != x.end();
  }

  static int index(T const& x, value_type const& v)
  {
    int i = 0;
    for (auto const& val: x)
      if( val == v ) return i;

    PyErr_SetString(PyExc_ValueError, "Value not in the list");
    throw boost::python::error_already_set();
  }

  static void del(T& x, int i)
  {
    if( i<0 )
      i += x.size();

    iter_type it = x.begin();
    for (int pos = 0; pos < i; ++pos)
      ++it;

    if( i >= 0 && i < (int)x.size() ) {
      x.erase(it);
    } else {
      PyErr_SetString(PyExc_IndexError, "Index out of range");
      boost::python::throw_error_already_set();
    }
  }

  static value_type& get(T& x, int i)
  {
    if( i < 0 )
      i += x.size();

    if( i >= 0 && i < (int)x.size() ) {
      iter_type it = x.begin();
      for(int pos = 0; pos < i; ++pos)
        ++it;
      return *it;
    } else {
      PyErr_SetString(PyExc_IndexError, "Index out of range");
      throw boost::python::error_already_set();
    }
  }

  static void set(T& x, int i, value_type const& v)
  {
    if( i < 0 )
      i += x.size();

    if( i >= 0 && i < (int)x.size() ) {
      iter_type it = x.begin();
      for(int pos = 0; pos < i; ++pos)
        ++it;
      *it = v;
    } else {
      PyErr_SetString(PyExc_IndexError, "Index out of range");
      boost::python::throw_error_already_set();
    }
  }
};

template <typename container>
void export_container(const char* typeName)
{
  using namespace boost::python;

  class_<container>(typeName)
    .def("__len__", &container::size)
    .def("clear", &container::clear)
    .def("append", &container_wrap<container>::add, with_custodian_and_ward<1,2>()) // to let container keep value
    .def("__getitem__", &container_wrap<container>::get, return_value_policy<copy_non_const_reference>())
    .def("__setitem__", &container_wrap<container>::set, with_custodian_and_ward<1,2>()) // to let container keep value
    .def("__delitem__", &container_wrap<container>::del)
    .def("__contains__", &container_wrap<container>::in)
    .def("__iter__", iterator<container>())
    .def("index", &container_wrap<container>::index);
}

using infinit::oracles::meta::Client;
using infinit::oracles::meta::Admin;
using infinit::oracles::PeerTransaction;
using infinit::oracles::meta::Error;
using infinit::oracles::meta::LoginResponse;
using infinit::oracles::meta::User;
using infinit::oracles::meta::Self;
using infinit::oracles::meta::Device;
using infinit::oracles::meta::CreatePeerTransactionResponse;

class MetaClient:
  public Client
{
public:
  MetaClient(std::string const& protocol, std::string const& host, int port)
    : Client(protocol, host, port)
  {}

  LoginResponse
  login(std::string const& email,
        std::string const& password,
        std::string const& device_uuid)
  {
    static auto string_generator = boost::uuids::string_generator();
    return Client::login(email,
                         password,
                         string_generator(device_uuid));
  }
};

class AdminClient:
  public Admin
{
public:
  AdminClient(std::string const& protocol, std::string const& host, int port)
    : Admin(protocol, host, port)
  {}
};

struct std_list_to_pylist
{
  static PyObject* convert(std::vector<std::string> const& l)
  {
    boost::python::list pyl;
    for (auto const& elem: l)
    {
      pyl.append(elem);
    }
    return boost::python::incref(pyl.ptr());
  }
};

namespace login
{
  static
  std::string
  fullname(LoginResponse const& res)
  {
    return res.self.fullname;
  }

  static
  std::string
  identity(LoginResponse const& res)
  {
    return res.self.identity;
  }

  static
  std::string
  handle(LoginResponse const& res)
  {
    return res.self.handle;
  }

  static
  std::string
  email(LoginResponse const& res)
  {
    if (res.self.email)
      return res.self.email.get();
    return "";
  }
}

void export_meta_client();
void export_meta_client()
{
  typedef py::return_value_policy<py::return_by_value> by_value;

  py::enum_<Error>("Error")
    <%! from infinit.oracles.meta.error import errors %>
    %for name, (code, comment) in sorted(errors.items()):
      .value("${name}", Error::${name})
    %endfor
  ;
  export_container<std::vector<std::string>>("vector_string");
  export_container<std::list<std::string>>("list_string");

  py::class_<PeerTransaction>("PeerTransaction");

  py::class_<User>("User")
    .def_readonly("id", &User::id)
    .def_readonly("fullname", &User::fullname)
    .def_readonly("handle", &User::handle)
    .def_readonly("public_key", &User::public_key)
    .def_readonly("online", static_cast<bool (User::*)() const>(&User::online))
    .def_readonly("online",
                  static_cast<
                  bool (User::*)(elle::UUID const&) const>(&User::online))
    .def_readonly("connected_devices", &User::connected_devices)
  ;
  py::class_<Self>("Self")
    .def_readonly("identity", &Self::identity)
    .def_readonly("email", &Self::email)
  ;
  py::class_<Device>("Device")
    .def_readonly("id", &Device::id)
    .def_readonly("name", &Device::name)
    .def_readonly("passport", &Device::passport)
  ;

  py::class_<LoginResponse>("LoginResponse")
    .def("fullname", &login::fullname)
    .def("identity", &login::identity)
    .def("handle", &login::handle)
    .def("email", &login::email)
  ;

  py::class_<CreatePeerTransactionResponse>("CreatePeerTransactionResponse");

  void (MetaClient::*set_email)(std::string const &) = &MetaClient::email;
  std::string const& (MetaClient::*get_email)() const = &MetaClient::email;

  py::class_<MetaClient, boost::noncopyable>(
    "Meta", py::init<std::string const&, std::string const&, int>())
    .def("login", &MetaClient::login)
    .def("logout", &MetaClient::logout)
    .def("user", &MetaClient::user)
    .def("register", &MetaClient::register_)
    //.def("user_icon", &MetaClient::user_icon)
    .def("self", &MetaClient::self)
    .def("users_search", &MetaClient::users_search)
    .def("get_swaggers", &MetaClient::get_swaggers)
    .def("update_device", &MetaClient::update_device)
    .def("transaction", &MetaClient::transaction)
    // .def("transactions", &MetaClient::transactions)
    .def("create_transaction", &MetaClient::create_transaction)
    .def("fill_transaction", &MetaClient::fill_transaction)
    .def("update_transaction", &MetaClient::update_transaction)
    .add_property("email",
                  make_function(get_email, by_value()),
                  set_email)
  ;

  py::class_<AdminClient, boost::noncopyable>(
    "Admin", py::init<std::string const&, std::string const&, int>())
    .def("add_swaggers", &AdminClient::add_swaggers)
    .def("genocide", &AdminClient::genocide)
    .def("ghostify", &AdminClient::ghostify)
    .def("connect", &AdminClient::connect)
    .def("disconnect", &AdminClient::disconnect)
    .def("register_trophonius", &AdminClient::register_trophonius)
    .def("unregister_trophonius", &AdminClient::unregister_trophonius)
  ;
}

// Pacify -Wmissing-declaration
extern "C"
{
  PyObject* PyInit_MetaClient();
}

BOOST_PYTHON_MODULE(MetaClient)
{
  export_meta_client();
}
