<%inherit file="/base.html"/>

<div class="wrapper">
  
  <div class="groups-content">
    <form id="add_group">
      <input type="text" placeholder="Create group..." />
    </form>
    
    <div class="groups-list"></div>
  </div>
  
  <div class="sidebar"> 
    <div class="search">
      <label for="datepicker">Search:</label>
      <form id="search_user">
        <input type="text" placeholder="Search user..." />
      </form>
      <div id="search-results"></div>
    </div>
  </div>
	
</div>