# -*- sh -*-

META="meta.${version_minor}.${version_major}.api.production.infinit.io"
PORT_SSL=443
PORT_TCP=80
PORT_NOTIFICATIONS=4251
USER="trophonius"
TROPHONIUS="${trophonius_path}"
export ELLE_LOG_LEVEL='infinit.oracles.trophonius*:DEBUG'
