# -*- sh -*-

META="meta.${version_minor}.${version_major}.api.production.infinit.io:80"
PORT=80
USER="trophonius"
TROPHONIUS="${trophonius_path}"
export ELLE_LOG_LEVEL='infinit.oracles.trophonius*:DEBUG'
