umask 022
pip-3.2 install decorator
pip-3.2 install httplib2
pip-3.2 install iso8601
pip-3.2 install mailsnake
pip-3.2 install mako
pip-3.2 install mandrill
pip-3.2 install oauth2client
pip-3.2 install pillow
pip-3.2 install pymongo
pip-3.2 install phonenumbers
pip-3.2 install stripe
pip-3.2 install pycrypto
