<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Le Waterfall</title>
    <meta name="description" content="le waterfall">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="${root}/css/normalize.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css">
    <link rel="stylesheet" type="text/css" href="${root}/css/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="${root}/css/main.css"> 
  
    <script src="${root}/js/vendor/modernizr-2.6.2.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="${root}/js/vendor/moment.min.js"></script>
    <script type="text/javascript" src="${root}/js/vendor/daterangepicker.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
    
    <script src="${root}/js/main.js"></script>
  </head>
  
  
  <body class="${title}">
  
    <header>
      <div class="wrapper">
        <div class="logo"><a href="http://infinit.io"><img src="${root}/images/logo.png" /></a></div>
        <ul class="menu">
          <li><a 
          %if title == 'waterfall':
           class="current"
          %endif 
          href="/metrics/waterfall.html">Waterfall</a></li>
          <li><a 
          %if title == 'groups':
           class="current"
          %endif 
          href="/metrics/manage_groups.html">Groups</a></li>
          <li><a href="#">Invitations</a></li>
        </ul>
      </div>
    </header>
    
    <div id="content">
      ${self.body()}
    </div>
    
    <footer></footer>
    
  </body>
</html>
