# -*- sh -*-

META="meta.${version_minor}.${version_major}.api.production.infinit.io"
PORT=80
USER="apertus"
APERTUS="/opt/infinit/apertus/bin/apertus"
export ELLE_LOG_LEVEL='infinit.oracles.apertus*:DEBUG'
