#include <iostream>
#include <infinit/oracles/trophonius/Client.hh>

namespace infinit
{
  namespace oracles
  {
    namespace trophonius
    {
      std::ostream&
      operator <<(std::ostream& out,
                  NotificationType t)
      {
        switch (t)
        {
        <%! from infinit.oracles.notification import notifications %>
        %for name, value in notifications.items():
          case NotificationType::${name}:
            out << "${name}";
            break;
        %endfor
        }

        return out;
      }
    }
  }
}