#ifndef SURFACE_GAP_ENUMS_HH
# define SURFACE_GAP_ENUMS_HH

// This are a shared enums between C++ and C.
# ifdef __cplusplus
extern "C"
{
# endif
  typedef enum
  {
    // The transaction was just created.
    gap_transaction_new = 0,
    // Transaction on another device.
    gap_transaction_on_other_device = 1,
    // Sender or recipient waiting until acceptance.
    gap_transaction_waiting_accept = 2,
    // Recipient exhausted the cloud buffered data.
    gap_transaction_waiting_data = 3,
    // Connecting.
    gap_transaction_connecting = 4,
    // Actively transfering.
    gap_transaction_transferring = 5,
    // Uploaded in the cloud, not yet dowloaded.
    gap_transaction_cloud_buffered = 6,
    // Finished.
    gap_transaction_finished = 7,
    // Failed.
    gap_transaction_failed = 8,
    // Cancelled.
    gap_transaction_canceled = 9,
    // Rejected.
    gap_transaction_rejected = 10,
    // Deleted.
    gap_transaction_deleted = 11,
    // Paused.
    gap_transaction_paused = 12,
  } gap_TransactionStatus;

  typedef enum
  {
    gap_user_status_offline = 0,
    gap_user_status_online = 1,
    gap_user_status_busy = 2,
  } gap_UserStatus;

  typedef enum
  {
    gap_account_status_contact,
    gap_account_status_new,
    gap_account_status_ghost,
    gap_account_status_registered,
  } AccountStatus;

  typedef enum
  {
    gap_proxy_http,
    gap_proxy_https,
    gap_proxy_socks,
  } gap_ProxyType;

  typedef enum
  {
    NotificationType_PeerTransactionUpdate,
    NotificationType_UserStatusUpdate,
    NotificationType_NewSwagger,
    NotificationType_DeletedSwagger,
    NotificationType_DeletedFavorite,
    NotificationType_ConnectionStatus,
    NotificationType_AvatarAvailable,
    NotificationType_TrophoniusUnavailable,
    NotificationType_LinkTransactionUpdate,
    NotificationType_TransactionRecipientChanged,
  } NotificationType;

  typedef enum
  {
    UIMetrics_AddFilesSendView, // Add files via send view buttons.
    UIMetrics_AddFilesContextual, // Add files via contextual menu.
    UIMetrics_AddFilesMenu, // Add files via the icon's menu.
    UIMetrics_AddFilesDropOnSendView, // Add files by dropping on the send view.
    UIMetrics_AddFilesDropOnIcon, // Add files by dropping files on the icon.

    UIMetrics_OpenPanelMenu, // Open infinit via the icon's menu.
    UIMetrics_OpenPanelIcon, // Open infinit by clicking the icon.
    UIMetrics_OpenPanelOtherInstance, // Open infinit by launching another instance.

    UIMetrics_ConversationAccept, // Accept transfer via the conversation view.
    UIMetrics_ConversationCancel, // Cancel transfer via the conversation view.
    UIMetrics_ConversationReject, // Reject transfer via the conversation view.

    UIMetrics_MainCopyLink, // Copy link url.
    UIMetrics_MainOpenLink, // Open link url.
    UIMetrics_MainDeleteLink, // Delete link.

    UIMetrics_FavouritesPersonDrop, // Drop files on the a favourite.
    UIMetrics_ContextualSend, // Contextual menu.
    UIMetrics_ConversationSend, // Create a transaction for a specific user from conversation view.

    UIMetrics_FavouritesLinkDrop, // Drop files on the link 'favourite'.
    UIMetrics_StatusIconLinkDrop, // XXX: Drop files on the status.
    UIMetrics_ContextualLink, // Get a link from contextual.

    UIMetrics_SendCreateTransaction, // Create transaction from transfer draft.
    UIMetrics_SendCreateLink, // Create link from transfer draft.

    UIMetrics_SelectPeer, // Peer selected in the send view.
    UIMetrics_UnselectPeer, // Peer unselected in the send view.

    UIMetrics_ScreenshotModalYes, // Auto upload screenshot access given.
    UIMetrics_ScreenshotModalNo, // Auto upload screenshot access denied.
    UIMetrics_UploadScreenshot, // Auto upload screenshot.

    UIMetrics_MainSend, // Go to send view from main view.
    UIMetrics_MainPeople, // Go to people from main view.
    UIMetrics_MainLinks, // Go to link view from main view.
    UIMetrics_SendTrash, // Cancel transaction draft.

    UIMetrics_HaveAddressbookAccess, // Address book access given.
    UIMetrics_NoAdressbookAccess, // Address book access denied.

    UIMetrics_DesktopNotification, // Desktop notification clicked.

    UIMetrics_Preferences, // Open preferences.
  } UIMetricsType;

  typedef enum
  {
    gap_ok = 1,
    gap_error = 0,
    gap_network_error = -2,
    gap_internal_error = -3,
    gap_no_device_error = -4,
    gap_wrong_passport = -5,
    gap_no_file = -6,
    gap_file_not_found = -7,
    gap_api_error = -10,
    gap_peer_to_peer_error = -11,
    gap_data_not_fetched_yet = -12,
    gap_meta_unreachable = -13,
    gap_meta_down_with_message = -14,
    gap_trophonius_unreachable = -15,
    gap_ghost_code_already_used = -16,
    <%! from infinit.oracles.meta.error import errors %>
    %for name, (code, comment) in sorted(errors.items()):
      gap_${name} = ${code},
    %endfor
  } gap_Status;

# ifdef __cplusplus
}
# endif

#endif
