<uwsgi>
  <plugin>python3</plugin>
  <pythonpath>/opt/infinit/meta/lib/python${python_version_major}.${python_version_minor}</pythonpath>
  <!-- Preload papier to avoid OpenSSL incompatibilities with lazy loading -->
  <shared-import>papier</shared-import>
  <!-- Lazy mode is needed for the pymongo replica monitor thread to work -->
  <lazy/>
  <module>infinit.oracles.meta.server.wsgi</module>
  <master/>
  <processes>4</processes>
  <harakiri>60</harakiri>
  <reload-mercy>8</reload-mercy>
  <cpu-affinity>1</cpu-affinity>
  <stats>/tmp/stats.socket</stats>
  <max-requests>2000</max-requests>
  <limit-as>512</limit-as>
  <reload-on-as>1024</reload-on-as>
  <reload-on-rss>512</reload-on-rss>
  <no-orphans/>
  <vacuum/>
</uwsgi>
