#ifdef INFINIT_WINDOWS
# include <cmath>
#endif
#include <boost/python.hpp>

#include <infinit/oracles/trophonius/Client.hh>

#include <surface/gap/gap.hh>
#include <surface/gap/gap_bridge.hh>
#include <surface/gap/State.hh>

struct peer_transaction_to_dict
{
  static
  PyObject*
  convert(surface::gap::PeerTransaction const& txn)
  {
    auto dict = PyDict_New();
    PyDict_SetItemString(dict, "id", PyLong_FromLong(txn.id));
    PyDict_SetItemString(dict, "status", PyLong_FromLong(txn.status));
    PyDict_SetItemString(dict, "sender_id", PyLong_FromLong(txn.sender_id));
    PyDict_SetItemString(dict, "sender_device_id",
                         PyUnicode_FromString(txn.sender_device_id.c_str()));
    PyDict_SetItemString(dict, "recipient_id",
                         PyLong_FromLongLong(txn.recipient_id));
    PyDict_SetItemString(dict, "recipient_device_id",
                         PyUnicode_FromString(txn.recipient_device_id.c_str()));
    PyDict_SetItemString(dict, "mtime", PyFloat_FromDouble(txn.mtime));
    auto file_list = PyList_New(0);
    for (auto const& file: txn.file_names)
    {
      PyList_Append(file_list, PyUnicode_FromString(file.c_str()));
    }
    PyDict_SetItemString(dict, "files", file_list);
    PyDict_SetItemString(dict, "total_size",
                         PyLong_FromLongLong(txn.total_size));
    PyDict_SetItemString(dict, "is_directory",
                         PyBool_FromLong(txn.is_directory));
    PyDict_SetItemString(dict, "message",
                         PyUnicode_FromString(txn.message.c_str()));
    PyDict_SetItemString(dict, "cancel_user",
                         PyUnicode_FromString(txn.canceler.user_id.c_str()));
    return dict;
  }
};

struct link_transaction_to_dict
{
  static
  PyObject*
  convert(surface::gap::LinkTransaction const& txn)
  {
    auto dict = PyDict_New();
    PyDict_SetItemString(dict, "id", PyLong_FromLong(txn.id));
    PyDict_SetItemString(dict, "name", PyUnicode_FromString(txn.name.c_str()));
    PyDict_SetItemString(dict, "mtime", PyFloat_FromDouble(txn.mtime));
    if (txn.link)
    {
      PyDict_SetItemString(dict, "link",
                           PyUnicode_FromString(txn.link.get().c_str()));
    }
    PyDict_SetItemString(dict, "click_count", PyLong_FromLong(txn.click_count));
    PyDict_SetItemString(dict, "status", PyLong_FromLong(txn.status));
    PyDict_SetItemString(dict, "sender_device_id",
                         PyUnicode_FromString(txn.sender_device_id.c_str()));
    return dict;
  }
};

struct user_to_dict
{
  static
  PyObject*
  convert(surface::gap::User const& user)
  {
    auto dict = PyDict_New();
    PyDict_SetItemString(dict, "id", PyLong_FromLongLong(user.id));
    PyDict_SetItemString(dict, "status", PyBool_FromLong(user.status));
    PyDict_SetItemString(dict, "fulname",
                         PyUnicode_FromString(user.fullname.c_str()));
    PyDict_SetItemString(dict, "handle",
                         PyUnicode_FromString(user.handle.c_str()));
    PyDict_SetItemString(dict, "meta_id",
                         PyUnicode_FromString(user.meta_id.c_str()));
    PyDict_SetItemString(dict, "deleted", PyBool_FromLong(user.deleted));
    PyDict_SetItemString(dict, "ghost", PyBool_FromLong(user.ghost));
    return dict;
  }
};

static
void
bind_conversions()
{
  // Peer Transaction.
  boost::python::to_python_converter<const surface::gap::PeerTransaction,
                                     peer_transaction_to_dict>();
  // Link Transaction.
  boost::python::to_python_converter<const surface::gap::PeerTransaction,
                                     peer_transaction_to_dict>();
  // User.
  boost::python::to_python_converter<const surface::gap::User,
                                     user_to_dict>();
}

static boost::python::object
_get_peer_transactions(gap_State* state)
{
  assert(state != nullptr);
  boost::python::list transactions_;
  std::vector<surface::gap::PeerTransaction> res;
  gap_Status status = gap_peer_transactions(state, res);
  (void)status;
  for (auto const& transaction: res)
  {
    transactions_.append(transaction);
  }
  return transactions_;
}

static boost::python::object
_get_link_transactions(gap_State* state)
{
  assert(state != nullptr);
  boost::python::list transactions_;
  std::vector<surface::gap::LinkTransaction> res;
  gap_Status status = gap_link_transactions(state, res);
  (void)status;
  for (auto const& transaction: res)
  {
    transactions_.append(transaction);
  }
  return transactions_;
}

static boost::python::object
_get_swaggers(gap_State* state)
{
  assert(state != nullptr);
  boost::python::list swaggers_;
  std::vector<surface::gap::User> res;
  gap_Status status = gap_swaggers(state, res);
  (void)status;
  for (auto const& user: res)
  {
    swaggers_.append(boost::python::object(user));
  }
  return swaggers_;
}

static boost::python::object
_search_users(gap_State* state, std::string text)
{
  assert(state != nullptr);
  assert(text.length() > 0);
  boost::python::list users_;
  std::vector<surface::gap::User> res;
  gap_Status status = gap_users_search(state, text, res);
  (void)status;
  for (auto const& user: res)
  {
    users_.append(user);
  }
  return users_;
}

static
uint32_t
_send_files_by_email(gap_State* state,
                     std::string const& recipient,
                     boost::python::list const& files)
{
  boost::python::ssize_t len = boost::python::len(files);
  std::vector<std::string> list;
  for (int i = 0; i < len; ++i)
  {
    list.push_back(boost::python::extract<std::string>(files[i]));
  }
  auto id = gap_send_files(state, recipient,
                           list, "Sent by command line");
  return id;
}

static
uint32_t
_send_files(gap_State* state,
            uint32_t peer_id,
            boost::python::list const& files)
{
  boost::python::ssize_t len = boost::python::len(files);
  std::vector<std::string> list;
  for (int i = 0; i < len; ++i)
  {
    list.push_back(boost::python::extract<std::string>(files[i]));
  }
  auto id = gap_send_files(state, peer_id, list, "sent from cmdline");
  return id;
}

namespace
{
  namespace detail
  {
    static
    std::string
    parse_python_exception()
    {
      namespace py = boost::python;

      PyObject* type_ptr = NULL;
      PyObject* value_ptr = NULL;
      PyObject* traceback_ptr = NULL;

      PyErr_Fetch(&type_ptr, &value_ptr, &traceback_ptr);

      std::string ret("Unfetchable Python error");

      if (type_ptr != NULL)
      {
        py::handle<> h_type(type_ptr);
        py::str type_pstr(h_type);
        py::extract<std::string> e_type_pstr(type_pstr);
        if(e_type_pstr.check())
          ret = e_type_pstr();
        else
          ret = "Unknown exception type";
      }

      if (value_ptr != NULL)
      {
        py::handle<> h_val(value_ptr);
        py::str a(h_val);
        py::extract<std::string> returned(a);
        if(returned.check())
          ret +=  ": " + returned();
        else
          ret += std::string(": Unparsable Python error: ");
      }

      if (traceback_ptr != NULL)
      {
        py::handle<> h_tb(traceback_ptr);
        py::object tb(py::import("traceback"));
        py::object fmt_tb(tb.attr("format_tb"));
        py::object tb_list(fmt_tb(h_tb));
        py::object tb_str(py::str("\n").join(tb_list));
        py::extract<std::string> returned(tb_str);
        if(returned.check())
          ret += ": " + returned();
        else
          ret += std::string(": Unparsable Python traceback");
      }
      return ret;
    }

    template <typename T>
    struct wrapper
    {
      T const& _callback;
      wrapper(T const &callback)
        : _callback(callback)
      {}

      template <class ...ARGS>
      void
      operator() (ARGS &&... args)
      {
        this->call(std::forward<ARGS>(args)...);
      }

      template <class ...ARGS>
      void
      call(ARGS&&... args)
      {
        try
        {
          _callback(std::forward<ARGS>(args)...);
        }
        catch (boost::python::error_already_set const&)
        {
          std::string msg = parse_python_exception();
          throw surface::gap::Exception{
            gap_api_error,
            elle::sprintf("python: %s", msg),
          };
        }
      }

    };
  } /* detail */

  template <typename T>
  detail::wrapper<T>
  wrap_call(T const& callback)
  {
    return detail::wrapper<T>(callback);
  }

  void
  _gap_new_swagger_callback(gap_State* state,
                            boost::python::object cb)
  {
    auto cpp_cb = [cb] (surface::gap::User const& user)
    {
      wrap_call(cb)(user);
    };

    run<int>(
      state,
      "new swagger callback",
      [&] (surface::gap::State& state) -> int
      {
        state.attach_callback<surface::gap::User>(cpp_cb);
        return 0;
      });
  }

  void
  _gap_user_status_callback(gap_State* state,
                            boost::python::object cb)
  {
    auto cpp_cb = [cb] (surface::gap::State::UserStatusNotification const& notif)
      {
        wrap_call(cb)(notif.id, (gap_UserStatus) notif.status);
      };

    run<int>(
      state,
      "user status callback",
      [&] (surface::gap::State& state)
      {
        state.attach_callback<surface::gap::State::UserStatusNotification>(cpp_cb);
        return 0;
      });
  }

  void
  _gap_link_transaction_callback(gap_State* state, boost::python::object cb)
  {
    auto cpp_cb = [cb] (surface::gap::LinkTransaction const& transaction)
    {
      wrap_call(cb)(transaction);
    };

    run<int>(
      state,
      "link transaction callback",
      [&] (surface::gap::State& state) -> int
      {
        state.attach_callback<surface::gap::LinkTransaction>(cpp_cb);
        return 0;
      });
  }

  void
  _gap_peer_transaction_callback(gap_State* state, boost::python::object cb)
  {
    auto cpp_cb = [cb] (surface::gap::PeerTransaction const& transaction)
    {
      wrap_call(cb)(transaction);
    };

    run<int>(
      state,
      "peer transaction callback",
      [&] (surface::gap::State& state) -> int
      {
        state.attach_callback<surface::gap::PeerTransaction>(cpp_cb);
        return 0;
      });
  }

  void
  _gap_on_error_callback(gap_State* state,
                         boost::python::object cb)
  {
    auto cpp_cb = [cb] (gap_Status status,
                        std::string const& str,
                        std::string const& tid)
    {
      wrap_call(cb)(status, str.c_str(), tid.c_str());
    };

    // reinterpret_cast<surface::gap::State*>(state)->notification_manager().on_error_callback(cpp_cb);
  }
}

extern "C"
{
  //struct gap_State { /* dummy declaration for boost::python */ };
  PyObject* PyInit__gap(); // Pacify -Wmissing-declarations.
}

BOOST_PYTHON_MODULE(_gap)
{
  namespace py = boost::python;
  typedef py::return_value_policy<py::return_by_value> by_value;

  bind_conversions();

  //////////////////////////
  // value MUST be gap_EnumName_name
  py::enum_<gap_Status>("Status")
    .value("ok", gap_ok)
    .value("error", gap_error)
    .value("network_error", gap_network_error)
    .value("internal_error", gap_internal_error)
    .value("no_device_error", gap_no_device_error)
    .value("wrong_passport", gap_wrong_passport)
    .value("no_file", gap_no_file)
    .value("file_not_found", gap_file_not_found)
    .value("api_error", gap_api_error)
    <%! from infinit.oracles.meta.error import errors %>
    %for name, (code, comment) in errors.items():
      .value("${name}", gap_${name})
    %endfor
  ;

  py::enum_<gap_TransactionStatus>("TransactionStatus")
    .value("transaction_new", gap_transaction_new)
    .value("transaction_on_other_device", gap_transaction_on_other_device)
    .value("transaction_waiting_accept", gap_transaction_waiting_accept)
    .value("transaction_waiting_data", gap_transaction_waiting_data)
    .value("transaction_connecting", gap_transaction_connecting)
    .value("transaction_transferring", gap_transaction_transferring)
    .value("transaction_cloud_buffered", gap_transaction_cloud_buffered)
    .value("transaction_finished", gap_transaction_finished)
    .value("transaction_failed", gap_transaction_failed)
    .value("transaction_canceled", gap_transaction_canceled)
    .value("transaction_rejected", gap_transaction_rejected)
    .value("transaction_deleted", gap_transaction_deleted)
  ;

  //- gap ctor and dtor -------------------------------------------------------

  py::class_<gap_State, boost::noncopyable>("State", py::init<bool>());

  py::def("new",
          &gap_new,
          py::return_value_policy<py::return_opaque_pointer>());
  py::def("free", &gap_free);

  //- Authentication and registration -----------------------------------------

  py::def("login", &gap_login);
  py::def("is_logged", &gap_logged_in);
  py::def("logout", &gap_logout);
  py::def("register", &gap_register);

  //- Notifications ------------------------------------------------------------

  py::def("poll", &gap_poll);

  ///////////////////////////
  // Callbacks.

  py::def("link_transaction_callback", &_gap_link_transaction_callback);
  py::def("peer_transaction_callback", &_gap_peer_transaction_callback);
  py::def("on_error_callback", &_gap_on_error_callback);
  py::def("new_swagger_callback", &_gap_new_swagger_callback);
  py::def("user_status_callback", &_gap_user_status_callback);

  //- Device ------------------------------------------------------------------

  py::def("device_status", &gap_device_status);
  py::def("set_device_name", &gap_set_device_name);

  //- Users -------------------------------------------------------------------

  py::def("id", &gap_self_id, by_value());
  py::def("search_users", &_search_users);
  py::def("get_swaggers", &_get_swaggers);

  //- Transactions- ------------------------------------------------------------

  py::def("peer_transactions", &_get_peer_transactions);
  py::def("peer_transaction_by_id", &gap_peer_transaction_by_id);
  py::def("link_transactions", &_get_link_transactions);
  py::def("link_transaction_by_id", &gap_link_transaction_by_id);
  py::def("send_files", &_send_files, by_value());
  py::def("send_files_by_email", &_send_files_by_email, by_value());
  py::def("cancel_transaction", &gap_cancel_transaction);
  py::def("accept_transaction", &gap_accept_transaction);
  py::def("reject_transaction", &gap_reject_transaction);
  py::def("set_output_dir", &gap_set_output_dir);
  py::def("get_output_dir", &gap_get_output_dir);
  py::def("transaction_progress", &gap_transaction_progress);

  py::def("send_user_report", &gap_send_user_report);
  py::def("send_last_crash_logs", &gap_send_last_crash_logs);
}
